.project {
    @apply bg-[#25201C] text-stone-300 relative overflow-hidden rounded-xl w-[16rem] h-[20rem];
    transition: transform 0.4s ease-in;
}

.figure {
    @apply absolute object-cover h-[70%] w-full top-0;
}

.content {
    @apply bg-[#25201C] absolute h-[8rem] w-full bottom-0 rounded-t-2xl px-2 text-center;
    transition: height 0.4s ease-in;
}

.project:hover {
    transform: scale(1.08);
}

.project:hover>.content {
    height: 14rem;
}

.toplinks {
    @apply flex justify-between text-lg px-2 mt-1;
}

.link {
    @apply text-stone-500 hover:text-stone-300 p-2 pb-0;
}

.super {
    @apply text-xs font-medium dark:text-teal-500 px-2;
}

.title {
    @apply font-bold text-xl -mt-1 px-2 text-cherokee-400;
}

.description {
    @apply text-sm px-2 h-0 overflow-hidden flex flex-col items-center justify-center;
    transition: height 0.4s ease-in;
}

.description>p {
    @apply line-clamp-3 -mb-1;
}

.project:hover>.content>.description {
    @apply h-[6rem] m-auto;
}

.tags {
    @apply flex justify-center flex-wrap px-2 mb-2 text-stone-500 text-lg;
}

.tag {
    @apply hover:text-stone-300 p-2 cursor-pointer
}