@tailwind base;
@tailwind components;
@tailwind utilities;


.type {
  @apply font-mono;
  color: transparent;
  background:
    linear-gradient(-90deg, #e7e5e4 2px, transparent 0) 3px 0,
    linear-gradient(#e7e5e4 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  @apply animate-typewriter;
}